<app-menu></app-menu> 
<router-outlet></router-outlet>




<!-- <div class="text-layout">
  <h1>{{ name | titlecase }}</h1>
  <h1>{{ value | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button
  pButton
  (click)="showName()"
  label="Cambiar nombre"
  icon="pi pi-bell"
  iconPos="right"
  class="p-button-help"
></button>

<p-card header="Simple card">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero cupiditate et fugiat voluptatum, saepe animi nobis ab magni nam ut reiciendis iusto, pariatur, nemo architecto quam maxime sed quidem.</p>
</p-card> -->
