<app-menu></app-menu>
<router-outlet></router-outlet>
<!-- <h1>Hola {{ showName() | titlecase }}</h1>
<h2>Lesson 134</h2>
<p>{{ value | number }}</p>
<p>{{ obj | json }}</p> -->
<!-- <p-button
  label="Click"
  icon="pi pi-bell"
  iconPos="right"
  class="p-button-danger"
></p-button>

<p-card header="Simple card">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero
    cupiditate et fugiat voluptatum, saepe animi nobis ab magni nam ut
    reiciendis iusto, pariatur, nemo architecto quam maxime sed quidem.
  </p>
</p-card> -->
