<h1>{{title}}</h1>

<h3>Lesson 38</h3>

<button (click)="add()">+1</button>
<span>{{number}}</span>
<button (click)="substract()">-1</button>

<h3>Lesson 39. Parámetros</h3>
<button (click)="acumular(+1)">+1</button>
<span>{{number}}</span>
<button (click)="acumular(-1)">-1</button>

<h3>Lesson 40. Tarea</h3>

<button (click)="taskadd(true)">+{{taskBase}}</button>
<span>{{number}}</span>
<button (click)="taskadd(false)">-{{taskBase}}</button>

<h3>Lesson 41. Crear un componente manualmente</h3>
<app-counter></app-counter>
<app-counter></app-counter>

<h3>Lesson 42. Adding new component: Hero</h3>
<app-hero></app-hero>

<h3>Lesson 45. Create component automatic</h3>
<app-list></app-list>




<h3>Lesson 50. Modules</h3>

<app-list2></app-list2>